.s36x36 {
    width: 36px !important;
    height: 36px !important;
}

.s30x30 {
    width: 30px !important;
    height: 30px !important;
}

.s14x14 {
    width: 14px !important;
    height: 14px !important;
}

.w-100p {
    width: 100% !important;
}